<!DOCTYPE html>
<html>
<head>
  <title>Destination Details</title>
</head>
<body>
  <h1><%= destination.name %></h1>
  <p>Country: <%= destination.country %></p>
  <p>Reason: <%= destination.reason %></p>
  <p>Priority: <%= destination.priority %></p>
  <p>Estimated Budget: <%= destination.estimatedBudget %></p>
  <a href="/destinations">Back to list</a>
</body>
</html>
